/* _____style all______ */
/* ------------____font style_____------------- */




* {
    margin: 0;

}

.main {
    background: rgba(255, 144, 14, 0.1);
}

/* _________style header section________ */
.top {
    width: 100%;
    display: flex;


    align-items: center;

    gap: 5px;

}

.title {
    font-family: 'Work Sans', sans-serif;
    width: 50%;
    margin-top: 50px;
    margin-left: 120px;

    /* text-align: center;
    padding-left: 102px;
    width: auto;
    height: 53px;
    left: 228px;
    font-size: 18px;
    padding-top: 50px; */

}

.nav ul {
    padding-top: 63px;
    padding-right: 675px;
    padding-right: 240px;
    padding-left: 110px;
    width: 50%;
    height: 40%;
    color: black;
    display: flex;

    justify-content: space-between;
    font-family: 'Work Sans';



}

/* --------title 2------- */
.top-2 {
    position: re;
    text-align: center;
    padding-top: 155px;
    padding-left: 20%;
    padding-right: 20%;
    width: 40%;
    height: 20%;
}

.title-2 {
    <style>@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
    </style>font-family: 'Work Sans', sans-serif;
    font-size: 66px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.paragraph {
    color: #727272;
}

/* ----------_____Button Section_____--------- */

.explore-more {
    margin-top: 22px;
    font-size: 1.2em;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 14px 19px 14px 19px;
    text-decoration: none;

}

/* ----------_____Button Section_____--------- */

.year2 {
    position: absolute;

    margin-top: 22px;
    font-size: 1.2em;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 14px 19px 14px 19px;

}

.year2 a {
    text-decoration: none;
    color: #FFFFFF;
}

.year2 h2 {
    font-size: 25px;
}

/* ________________________________________ */
/* ___________image section____________ */
.background-image {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50PX;
    height: 80%;
    width: 80%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

/* _____________
-----------------section 2------------------
_________________ */
.section-2 {
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);


}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    height: calc(50% - 5px/2);
}

.image-list {
    height: 700PX;
    width: 90%;
    height: calc(50% - 5px/2);
}

.grid-2 {
    height: 70%;
    width: 80%;
    padding-left: 2.5em;
    right: 0;
    padding-top: 11.9em;
    bottom: 0;
    margin: auto;
    /* padding: 300px, 250px, 0, 60px; */
    text-align: left;
    justify-content: center;
    align-items: center;

}

/* __________________________
----------------paragraph part----------------
________________________________ */
.prgh {
    font-size: 35px;
    padding: 1em 0;

}

.prgh-1 {
    color: rgb(255, 30, 0);
}

.prgh-2 {
    color: rgb(21, 255, 0);
}

.prgh-3 {
    color: magenta;

}

.prgh-4 {
    color: turquoise;
}

/* ________________________________
-----------section 3=================
________________________________ */
.section-3 {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    display: grid;
    width: 1400px;
    height: 1000px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* ----------
----------header 
------------and
------------paragraph
-------------part
------------ */
.section-2-part-1 {
    height: 100%;
    width: 100%;
 
}

.title--2 {
    border-left: 5px solid magenta;
    border-radius: 3px;
    font-size: 45px;
    padding: 15px;

}

.prgh--2 {
    padding-top: 20px;
    color: #727272
}

.sec-3-part-1-div1 .head3 {
    font-size: 18px;
    color: black;
    padding: 33px 0 10px 30px;
}

.sec-3-part-1-div1 .pera3 {
    padding-left: 30px;
    padding-bottom: 20px;
    color: #727272;
}

.div-1-2 {
    background-color: rgb(247, 247, 187);
    height: 150px;
    width: 550px;
    margin: 10px;

}

/* ---------image---------
-------------part---------- */
.architect-div{
    position: relative;
  


   

}
.experience-link{
    position: absolute;
    bottom: 110px;
    left: 0px;
}


.architect-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;

}

.year {
    position: absolute;

    margin-top: 22px;
    font-size: 1.2em;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 14px 19px 14px 19px;

}

.year a {
    text-decoration: none;
    color: #FFFFFF;
}

.section-2-part-2 .year {
    position: absolute;
    display: grid;
    align-items: flex-start;
    justify-content: ;
    inset-block-end: calc(3, 0);
    padding: 1 1 0 0;

}

/* ---------------middle section----------- */
.middle-section {
    padding: 70px 190px 20px 220px;
    width: 600px;
}

.architect-img {
    height: 790px;
    width: 700px;
    align-items: center;
}
/* -----------section: performance section---------- */
.performance{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;

   
}
.pperfor--2{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    padding:40px  70px;
    border: 5px;
}
/* -----------foeter section---------- */

.last-part{
 position: absolute;
}
.title-3{

    text-align: center;
    width: 500px;padding-bottom: 30px;
    
   
   
}


.title-3 p {
    position: relative;
    padding-top: 20px;
    color: #727272
}
/* ________spons-group_________ */
.spon{
   
    padding: 30px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.spons-group{
    text-transform: #3b3838;
}
.foot-er{
    background-color: rgb(247, 247, 187);
    height: 80px;
    width: 1200px;
   
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}